
input[type=number]::-webkit-inner-spin-button {  
    height: 2.5rem;
    padding:0.4rem 0.4rem;
}

p {
    margin:0;
}

.Container {
    width:100%;
    max-width:1080px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:0 auto;
}

.Container h3{
    text-align:center;
    font-size:xx-large;
    font-weight:400;
}

.AddSalesForm {
    padding:0 5%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
}

.AddSalesForm h3{
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    color: #000;
    margin-bottom: 50px;
}
.AddSalesForm label{
    display:flex;
    flex-direction:column;
}
.AddSalesForm p {
    font-size: 2rem;
    color: #696969;
    font-weight: 500;
    letter-spacing: -0.65px;
    padding:15px 0;

}
.AddSalesForm span {
    font-size:1.6rem;
}

.AddSalesForm .textInput {
    height:50px;
    border:1px solid #cecece;
    margin-bottom:1rem;
    text-indent:2rem;
    color: #949494;
    font-size: 1.2rem;
}
.AddSalesForm .numberInput {
    height:50px;
    border:1px solid #cecece;
    margin-bottom:1rem;
    text-indent:2rem;
    color: #949494;
    font-size: 1.2rem;
}

.AddSalesForm .labelCheck{
    display:flex;
    flex-direction:row;
    align-items:center;
    padding-bottom:1rem;
}
.AddSalesForm .labelCheck .subject {
    font-size:1.6rem;
}

.AddSalesForm .btnRadio {
    width:1.4rem;
    height:1.4rem;
    margin:0 1rem 0 0;
}
.AddSalesForm .checkBox {
    width:1.4rem;
    height:1.4rem;
    margin:0 1rem;
 }

.business {
    padding-bottom:2rem;
}
.business .labelCheck:nth-child(5) {
    padding-bottom:0;
}

.business .explain {
    font-size:1.4rem;
    text-align:center;
    border:1px solid #696969;
    padding:1rem;
    margin-bottom:2rem;
 }

.businessType {
    display:flex;
    justify-content:space-around;
}
.businessType > label {
    flex:50%;
    box-sizing:border-box;
    padding:0 1rem;
}
.businessType > label > p {
    font-size:1.6rem;
}

.member {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    padding-bottom:2rem;
}
.member .subject {
    width:100%;
}
.member > div {
    flex:50%;
    box-sizing:border-box;
    padding:0 1rem;
}
.member > div > label > p {
    font-size:1.6rem;
}
.member div .labelCheck {
    justify-content:flex-end;
}
.member div .labelCheck p {
    font-size:1.4rem;
    padding:0;
}
.AddSalesForm .recruit {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-around;
    padding-bottom:2rem;
}
.recruit > p {
    width:100%;
}
.recruit label {
    flex:50%;
    box-sizing:border-box;
    padding:0 1rem;
}
.recruit label p {
    font-size:1.6rem;
}

.agreement {
    text-align:center;
    color:#696969;
}

.program {
    padding:2rem 0;
    margin:2rem 0;
    border:1px solid #67C7ba;
    border-right:none;
    border-left:none;
    text-align:center;
}
.program .prName p {
    font-size:1.6rem;
}
.program .prContent {
    font-size:1.4rem;
    padding-bottom:2rem;
}


.AddSalesForm button {
    height:3rem;
    width:20rem;
    margin:5px auto;
    background-color:#67C7ba;
    border:none;
    border-radius:0.4rem;
    color:#fff;
    font-size:1.2rem;
}

.AddSalesForm .btnReset {
    background-color:#c76767;
}

.footerMent {
    text-align:center;
    padding:2rem 0;
}

@media screen and (max-width:768px) {
input[type=number]::-webkit-inner-spin-button {  
    height: 2.5rem;
    padding:0.4rem 0.4rem;
}
h3, .name, .business {
    width:100%
}
.Container h3 {
    font-size:1.4rem;
}
.AddSalesForm h3 {
    font-size:1.6rem;
}
.AddSalesForm p {
    padding: 5px 0;
    font-size:1.6rem;
}
.AddSalesForm span {
    font-size:1.4rem;
}
.AddSalesForm .labelCheck {
    align-items:flex-start;
}
.business {
    padding-bottom:1rem;
}
.business .labelCheck:nth-child(5){
    align-items:center;
    justify-content:flex-end;
    padding:0 1rem 0.4rem 0;
}
.businessType {
    flex-wrap:wrap;
    justify-content:center;
}
.businessType > label > p {
    font-size:1.4rem;
}
.member > div > label > p {
    font-size:1.4rem;
}
.recruit label p {
    font-size:1.4rem;
}
.program .subject {
    padding-bottom:1rem;
}
.program .prName p{
    font-size:1.4rem;
}
.program .prContent {
    font-size:1.4rem;
    color:#67C7ba;
}
}