input[type=number]::-webkit-inner-spin-button {  
    height: 2.5rem;
    padding:0.4rem 0.6rem;
}
input::-ms-input-placeholder {
    color: #C8C8C8;
    font-size:1rem;
    text-indent:1rem;
}
/* Internet Explorer 10 이상에 적용*/
input::-webkit-input-placeholder {
    color: #C8C8C8;
    font-size:1rem;
    text-indent:1rem;
}
/* Webkit, Blink, Edge에 적용*/
input::-moz-placeholder {
    color: #C8C8C8;
    font-size:1rem;
    text-indent:1rem;
}
/* Mozilla Firefox에 적용 */
input[type=number]:focus {
    outline:none;
    border:1px solid #67C7ba;
    background-color:#ebf5f4;
    -webkit-transition: 1s;
    transition: 1s;
}
input[type=text]:focus {
    outline:none;
    border:1px solid #67C7ba;
    background-color:#ebf5f4;
    -webkit-transition: 1s;
    transition: 1s;
}
button[type='button']:hover {
    opacity:.7;
    transition: 0.5s;
}

p {
    margin:0;
}

.Container {
    width:100%;
    max-width:1080px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:0 auto;
}

.Container h3{
    text-align:center;
    font-size:1rem;
    font-weight:400;
    width:100%;
}

.AddSalesForm {
    padding:0 5%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
}

.AddSalesForm h3{
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: #000;
    margin-bottom: 50px;
}
.AddSalesForm label{
    display:flex;
    flex-direction:column;
}
.AddSalesForm > label {
    width:100%;
}
.AddSalesForm > div {
    width:100%;
}
.AddSalesForm p {
    font-size: 1.2rem;
    color: #696969;
    font-weight: 500;
    letter-spacing: -0.65px;
    padding:5px 0;
}
.AddSalesForm span {
    font-size:1.2rem;
}
.AddSalesForm .textInput {
    height:2.8rem;
    border:1px solid #cecece;
    border-radius:0.4rem;
    margin-bottom:2rem;
    text-indent:1rem;
    color: #949494;
    font-size: 1.2rem;
}
.AddSalesForm .numberInput {
    height:50px;
    margin:.4rem 0;
    border:1px solid #cecece;
    border-radius:0.4rem;
    text-indent:1rem;
    color: #949494;
    font-size: 1.2rem;
}
.AddSalesForm .labelCheck{
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:.6rem 0;
}
.AddSalesForm .labelCheck .subject {
    font-size:1.2rem;
    color:#000;
}

.AddSalesForm .btnRadio {
    width:1.4rem;
    height:1.4rem;
    margin:0 1rem 0 0;
}
.AddSalesForm .checkBox {
    width:1.2rem;
    height:1.2rem;
    margin:0 1rem;
 }

.business {
    padding-bottom:1rem;
}
.business .labelCheck:nth-child(5) {
    align-items:center;
    justify-content:flex-end;
    padding:0 1rem 0.4rem 0;
}

.business .explain {
    font-size:1.4rem;
    text-align:center;
    border:0px solid #696969;
    border-radius:1rem;
    background-color:#ebf5f4;
    padding:1rem;
    margin-bottom:2rem;
    height:6rem;
    overflow:auto;
    white-space:normal;
 }
 .business .explain h6 {
     margin:1rem 0;
 }
 .business .explain p:last-child {
     text-align:left;
 }
 .business .explain p span {
     font-size:1rem;
     font-weight:400;
     text-align:center;
     
 }

.businessType {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.businessType > label {
    flex:50%;
    box-sizing:border-box;
    padding:0 1rem;
}
.businessType > label > p {
    font-size:1.2rem;
}
.businessType .textInput {
    margin-bottom:.4rem;
}

.member {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    padding-bottom:2rem;
}
.member .subject {
    width:100%;
}
.member > div {
    flex:50%;
    box-sizing:border-box;
    padding:.8rem 1rem;
}
.member > div > label > p {
    font-size:1.2rem;
    color:#000;
}
.member div .labelCheck {
    justify-content:flex-end;
    padding:0;
}
.member div .labelCheck p {
    font-size:1.2rem;
    padding:0;
    font-weight:300;
}
.AddSalesForm .recruit {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-around;
    padding-bottom:2rem;
}
.recruit > p {
    width:100%;
}
.recruit label {
    flex:50%;
    box-sizing:border-box;
    padding:0 1rem;
}
.recruit label p {
    font-size:1.2rem;
    color:#000;
}

.agreement {
    text-align:center;
    color:#696969;
}

.program {
    padding:2rem 0;
    margin:2rem 0;
    border:1px solid #67C7ba;
    border-right:none;
    border-left:none;
    text-align:center;
}
.program .subject {
    padding-bottom:1rem;
}
.program .prName p {
    font-size:1.2rem;
    color:#000;
}
.program .prContent {
    font-size:1.4rem;
    padding-bottom:2rem;
    color:#67C7ba;
}
.program .prContentSub {
    font-size:1.1rem;
    font-weight:300;
    padding:0;
}


.AddSalesForm button {
    height:2.6rem;
    width:100%;
    max-width:20rem;
    margin:5px auto;
    background-color:#67C7ba;
    border:none;
    border-radius:0.4rem;
    color:#fff;
    font-size:1.2rem;
}

.AddSalesForm .btnReset {
    background-color:#c76767;
}

.footerMent {
    text-align:center;
    padding:2rem 0;
}

.quoteIntro .logo {
    margin:0 auto;
    text-indent:-9999px;
    width:80%;
    max-width:800px;
    height:400px;
    display:block;
    background:url(../../img/tojin2.png) no-repeat center;
    background-size:100% auto;
}

@media screen and (min-width:426px) {
    input::-ms-input-placeholder {
        color: #C8C8C8;
        font-size:1.2rem;
        text-indent:1rem;
    }
    /* Internet Explorer 10 이상에 적용*/
    input::-webkit-input-placeholder {
        color: #C8C8C8;
        font-size:1.2rem;
        text-indent:1rem;
    }
    /* Webkit, Blink, Edge에 적용*/
    input::-moz-placeholder {
        color: #C8C8C8;
        font-size:1.2rem;
        text-indent:1rem;
    }
    .business .explain {
        padding:2rem;
        max-width:768px;
        margin:0 auto;
    }
}